@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500,700');

html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: 'Source Code Pro', monospace;
}

.container {
	padding: 20px;
	width: 100%;
}

aside {
	width: 30%;
	font-size: 1.5rem;
}
